/* Include Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 100px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    color: #fff;
    background-color: #2c3e50;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.logo {
    height: 70%;
    padding: 20px 0;
}

.menu {
    float: right;
    line-height: 66px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    transition: 0.4s;
}

.menu a:hover {
    color: #f39c12;
}

/* Toggle Button */
.chk-btn {
    float: right;
}

.chk-btn img {
    width: 22px;
    margin-top: 38px;
    display: none;
}

#chk {
    position: absolute;
    /* checkbox hide */
    z-index: -9;
    visibility: hidden;
}

/* Body content */
.content {
    padding: 0 20px 20px;
    margin-top: 100px;
}

.content img {
    width: 100%;
    max-width: 100%;
    height: 81vh;
    margin: 20px 0;
}

.content p {
    text-align: justify;
    font-size: 22px;
}

/* Responsive Navbar */
@media only screen and (max-width: 767px) {
    .logo {
        height: 50%;
        padding: 30px 0;
    }

    .menu {
        position: fixed;
        width: 100%;
        right: 0;
        left: 0;
        top: 84px;
        overflow-y: hidden;
        text-align: center;
        padding: 0;
        line-height: normal;
        z-index: -99;
        background-color: #34495e;
        height: 0px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
        /* Animation */
        transition: 0.7s;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    #chk:checked ~ .menu {
        height: 310px;
    }

    .chk-btn img {
        display: block;
    }
    
    .content img {
        height: auto;
    }
}
